h1{
    color: rgba(30, 128, 0, 0.863);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
text-decoration: underline;
text-transform: capitalize0;
font-weight: 600;

}
div{
    color: rgb(105, 158, 255);
    font-size: 20
}